<%= simple_form_for(@sensor_find) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
    <%= f.input :time %>
    
    <%= f.label :sensor %> <br />
    <%= f.collection_select(:sensor_id, Sensor.all, :id, :name) %>
    
    <%= f.input :comments %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
