<tr>
  <td><%= user.last_name %></td>
  <td><%= user.first_name %></td>
  <td><%= user.email %></td>
  <td><%= user.zip %></td>
  <td><%= link_to 'Show', user %></td>
  <td>
  <% if can? :update, user %>
    <%= link_to 'Edit', edit_user_path(user) %>
  <% end %>
  </td>
  <td>
  <% if can? :destroy, user %>
    <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>  
  </td>
</tr>
