<tr>
  <td><%= sensor.name %></td>
  <td><%= sensor.description %></td>
  <td><%= sensor.sensor_type.name %></td>
  <td><%= sensor.latitude %></td>
  <td><%= sensor.longitude %></td>
  <%if @distance == true %>
    <td><%= number_with_precision(sensor.distance, precision: 2)%> miles</td>
  <% end %>
  <td><%= link_to 'Show', sensor %></td>
  <td>
  <% if can? :update, sensor %>
    <%= link_to 'Edit', edit_sensor_path(sensor) %>
  <% end %>
  </td>
  <td>
  <% if can? :destroy, sensor %>
    <%= link_to 'Delete', sensor, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>  
  </td>
</tr>
