<tr>
  <td><%= sensor.name %></td>
  <td><%= sensor.description %></td>
  <td><%= sensor.sensor_type.name %></td>
  <td><%= sensor.latitude %></td>
  <td><%= sensor.longitude %></td>
  <td><%= link_to 'Show', sensor %></td>
  <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
  <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
